<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container d-flex align-items-center">
    <div>
      <a class="navbar-brand" href="/">
        <i class="fa fa-twitter"></i>
        <strong>tweeet</strong>hack
      </a>
    </div>
  </div>

{{#if currentUser}}
  <form action="/logout" method="POST">
  <button type="submit" class="btn btn-danger">
    Logout
  </button>
  </form>
{{/if}}
</nav>
