<div class="row">
    <div class="col-sm-2">
        Profile
    </div>

    <div class="col-sm-6">
        {{>tweetForm}}
        {{>tweets}}
    </div>

    <div class="col-sm-4">
        Search
    </div>
</div>